body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */
.App {
  position: relative;
  overflow: hidden;
}

.bg, .bgtwo, .bgtemp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
  pointer-events: none; /* Make sure it doesn't interfere with other interactions */
}

/* Ensure all main components are above the background */
.NavBar, .Home, .About_home, .CopyRight, .Project, .Resume, .About {
  position: relative;
  z-index: 1;
}
